/* Copyright 2020 Hubert Chathi <hubert@uhoreg.ca>
 *
 *  DO WHAT THE FUCK YOU WANT TO PUBLIC LICENSE
 *                    Version 2, December 2004
 *
 * Copyright (C) 2004 Sam Hocevar <sam@hocevar.net>
 *
 * Everyone is permitted to copy and distribute verbatim or modified
 * copies of this license document, and changing it is allowed as long
 * as the name is changed.
 *
 *            DO WHAT THE FUCK YOU WANT TO PUBLIC LICENSE
 *   TERMS AND CONDITIONS FOR COPYING, DISTRIBUTION AND MODIFICATION
 *
 *  0. You just DO WHAT THE FUCK YOU WANT TO.
 */
html {
  padding: 0;
  margin: 0;
  background: white;
  color: black;
}

body {
  padding: 0;
  margin: 0;
}

#clock_container {
  display: block;
  position: absolute;
  padding: 0;
  margin: 0;
  width: 100%;
  top: 50%;
  transform: translate(0, -50%);
}

#labels {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
}

#clock {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  max-width: calc(100% - 40em);
  max-height: calc(100vh - 4em);
}

#labels > div {
  position: absolute;
}

#menu {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  border-left: 1px solid grey;
  display: flex;
  align-items: stretch;
  max-width: 80%;
}

#menu-button {
  cursor: pointer;
  background: silver;
}

#menu #menu-button::before {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  content: "<"
}

#menu.expanded #menu-button::before {
  content: ">"
}

#menu.expanded #timezones {
  display: block;
}

#timezones {
  display: none;
  padding: 0 0.5em 0.5em 0.5em;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  overflow: auto;
}

#timezones > li {
  list-style: none;
}

#timezones > li > div {
  font-weight: bold;
  border-bottom: 1px solid grey;
  padding-top: 0.5em;
  position: sticky;
  top: 0;
  background: white;
}

#timezones > li > ul {
  padding-left: 0;
}

#timezones > li > ul > li {
  list-style: none;
}
